.ds-table-wrap {
    min-height: 162px;
}
.ds-admin-left,
.ds-admin-right {
    width: 49%;
    display: inline-block;
}
.ds-admin-left {
    float: left;
}
.ds-admin-right {
    float: right;
}
.ds-admin-head{
    margin:0 0 7px;
    padding: 0 0 5px 0;
    color: #8f8f8f;
    font-size: 14px;
    border-bottom:1px solid #ececec;
}
.ds-admin-salesline {
    margin-top:25px;
    font-size:16px;
    font-weight: thin;
}
/*.ds-admin-totalmoney,
.ds-admin-totalsales {
    color:red;
}*/
.ds-admin-totalmoney,
.ds-admin-totalsales {
	span {
    margin-right:10px;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    color:#21759b;
    font-size:18px;
	}
}
.ds-admin-moreinfo,
.ds-admin-contribute {
    font-size:12px;
    color:#808082;
    margin:0;
}
.ds-admin-footer{
    border-top:1px solid #ececec;
    margin-top:15px;
    padding-top:10px;
}
.devsales-title-icon {
    float: left;
    margin-right: 5px;
}
.ds-data-age {
    float: right;
    color: gray;
    span { font-weight: bold; }
}